.custom-badge .mat-badge-content {
  width: 24p;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.custom-badge .mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

a {
  &.active {
    color: #1d4ed8; // Tailwind's blue-700
  }
}
